@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*root*/
:root {
    --color-primary-green: hsl(75, 94%, 57%);

    --color-neutral-white: hsl(0, 0%, 100%); 
    --color-neutral-grey: hsl(0, 0%, 20%); 
    --color-dark-grey: hsl(0, 0%, 12%); 
    --color-off-black:hsl(0, 0%, 8%); 
    
    --ff: "Inter", sans-serif;
    --fs-body: .875rem;
    --fs-heading: 1.375rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

}

/*reset*/
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    line-height: 1.1;
}

ul li {
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    margin-inline: auto;
    font-style: italic;
    color: var(--color-primary-green);
}

a {
    color: var(--color-neutral-white);
    text-decoration: none;
}

body {
    font-family: var(--ff);
    font-weight: var(--fw-400);
    font-size: var(--fs-body);
    text-align: center;
    color: var(--color-neutral-white);
    background: var(--color-off-black);
}

.user-name {
    font-size: var(--fs-heading);
    font-weight: var(--fw-600);
    margin-bottom: .5rem;
}

.user-location {
    color: var(--color-primary-green);
    font-weight: var(--fw-600);
    margin-bottom: 1.25rem;
}

.list-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: .7rem;
    border-radius: .3rem;
    background: var(--color-neutral-grey);
    transition: background .3s ease, color .3s ease;
}

.list-item:hover {
    color: var(--color-off-black);
    background: var(--color-primary-green);
}

.wrapper {
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.profile-container {
    width: 25em;
    padding: 1.75rem;
    border-radius: .6rem;
    background: var(--color-dark-grey);
}

.social-links {
    margin-top: 1.5rem;
}

.social-links * + * {
    margin-top: .75rem;
}

.user-image {
    width: 6em;
    margin-bottom: 1.5rem;
    border-radius: 50%;
}
/*


ul{
    list-style-type: none;
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    padding: 20px;
    border-radius: 12px;
}

.container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
}

.container h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.container h1 span {
    color: hsl(75, 94%, 57%);
    display: block;
    font-size: 14px;
    margin: 0.5rem 0 1.5rem;
}

.container p {
    color: hsl(0, 0%, 100%);
    size: 14px;
    text-align: center;
    margin-bottom: 1rem;
}

.container * button {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;   
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    display: grid;

}

.container * button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.container * a {
    text-decoration: none;
}


.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: white;
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

*/